h1 {
  text-align: center;
  align-content: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font: bold;
  color: #333;
  font-size: 50px;
  position: relative;
  top: 20%;
}

img {
  width: 100%;
}

#primer-row {
  background-color: yellow;
}

#imgLaboratoria{
  align-content: center;
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-align: center;
}

.container-principal {
  background-color: #FAFAFA;
}

#segundo-row {
  padding-top: 2%;
}

.trans{
  width: 400px;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
}

  
.img-lab {
  height: 400px;
  width: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto; 
}


#imgLaboratoria {
  display: block;
}

#btn-cohort {
  background-color: #333;
  color: #FAFAFA;
  border-radius: 5px;
  border: black solid 1px;
  width: 100%;
}

#btnCohort {
  display: block;
}

#botonescontacto {
  position: absolute;
  bottom: 0%;
  width: 100%;
  display: none;
  margin-bottom: 0%;
}

#botonesDeDatos {
  display: none;
}

.botones-datos {
  background-color: #333;
  color: #FAFAFA;
  border-radius: 5px;
  border: black solid 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #FAFAFA;
}

#navbar {
  display: none;
}

#divbtn-alumnas {
  padding: 0%;
  margin: 0%;
  display: none;
}

#btn-alumnas {
  background-color: #333;
  color: #FAFAFA;
  border-radius: 5px;
  border: black solid 1px;
  display: block;
  margin-left: 15%;

}

#containerStudents {
  width: 80%;
  padding-left: 5%;
  text-align: left;
}